<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lw.mapper.UserInfoDefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lw.bean.UserInfoDef">
        <id column="T_ID" property="id" />
        <result column="T_NAME" property="name" />
        <result column="T_SEX" property="sex" />
        <result column="T_ID_CARD" property="idCard" />
        <result column="T_PHONE" property="phone" />
        <result column="T_EMAIL" property="email" />
        <result column="T_AGE" property="age" />
        <result column="T_BIRTHDAY" property="birthday" />
        <result column="T_ADD_OPERATOR" property="addOperator" />
        <result column="T_ADD_DTTM" property="addDttm" />
        <result column="T_UPDATE_OPERATOR" property="updateOperator" />
        <result column="T_UPDATE_DTTM" property="updateDttm" />
        <result column="T_DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_ID, T_NAME, T_SEX, T_ID_CARD, T_PHONE, T_EMAIL, T_AGE, T_BIRTHDAY, T_ADD_OPERATOR, T_ADD_DTTM, T_UPDATE_OPERATOR, T_UPDATE_DTTM, T_DELETED
    </sql>

</mapper>
